server:
  port: 8080

spring:
  application:
    name: acme-api-mvc
  
  datasource:
    url: jdbc:postgresql://localhost:5432/acme_jpa
    username: acme_user
    password: acme_password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

logging:
  level:
    org.acme: DEBUG
    org.springframework.security: DEBUG

