server:
  port: 8081

spring:
  application:
    name: acme-api-webflux

  r2dbc:
    url: r2dbc:postgresql://localhost:5433/acme_r2dbc
    username: acme_user
    password: acme_password

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    url: jdbc:postgresql://localhost:5433/acme_r2dbc
    user: acme_user
    password: acme_password

  cache:
    type: caffeine
    cache-names: users
    caffeine:
      spec: >
        expireAfterWrite=5m,
        maximumSize=1000,
        recordStats

auth:
  service:
    base-url: https://localhost:8082
    ssl:
      enabled: true
      truststore:
        path: classpath:ssl/auth-service-truststore.jks
        password: changeit
        type: JKS
      keystore:
        path: classpath:ssl/api-webflux-keystore.jks
        password: changeit
        type: JKS

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99

logging:
  level:
    org.acme: DEBUG
    org.springframework.security: DEBUG
    io.netty.resolver.dns.DnsServerAddressStreamProviders: OFF
    org.springdoc.core.events.SpringDocAppInitializer: ERROR

